.mouse-follower {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 102, 0, 0.5);
    /* Orange with opacity */
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s, background-color 0.2s;
    z-index: 9999;
    mix-blend-mode: difference;
}

.mouse-follower.hovering {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 51, 102, 0.5);
    /* Dark Blue with opacity */
}